@charset "UTF-8";

/* Global style */

:root {

  --primary: #FF3334;
  --bg-lighter: #FAFAFA;
  --bg-light: #f8f7f7;
  --bg-dark: #212529;
  --primary-rgb: 13, 110, 253;
  --secondary-rgb: 108, 117, 125;
  --dark-light: 25, 135, 84;
  --primary-hover: 13, 202, 240;
  --font-famly: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --body-font-family: var(--bs-font-sans-serif);
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --color: #212529;
  --body-bg: #fff;
  --white: #fff;
  --dark:#000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html,
body {
	height: 100%;
  font-family: 'Poppins', sans-serif;


}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fce3e3; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#f34646; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--primary); 
}
body {
  margin: 0;
	font: normal 300 1.2rem/1.86 "Poppins", sans-serif;
	color: #666;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

::-moz-selection {
	color: #fff;
	background-color: var(--primary)
}

::selection {
	color: #fff;
	background-color: var(--primary)
}


h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}



p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
}

a {
	color: var(--primary);
	text-decoration: none;
	transition: color 0.3s ease
}

a:hover,
a:focus {
	color: var(--primary);
	text-decoration: none
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}


ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}


b,
strong {
  font-weight: bolder;
}

.mb-2{
  margin-bottom: 2.5rem;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.navbar {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  } 



  /* ====

    Mobile first:
    Small screen style(for 991px max-size screen) in firtst
    
    ====*/



/* Top navigation bar */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    -webkit-animation: spin linear 5s;
    animation: spin linear 5s;
    background: #121212;
    z-index: 9999;
    color: var(--white);
    display: grid;
    place-items: center;
    text-align: center;
}

#loader{
  width: 100%;
}
.preloader__text span{
 font-size: 2rem;
 margin-bottom: 2rem;
 font-weight: 200;
 letter-spacing: .5rem;
}
.preload__title{
  font-size: 10rem;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px var(--white);
}
@-webkit-keyframes spin {
    0%   {
      visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes spin {
    0%   {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

svg text{
  stroke: #fff;
  font-size: 20rem;
  font-weight: 900;
  stroke-width: 2;
  animation: textAnimate 3s infinite alternate;
}

@keyframes textAnimate{
  0%{
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }

  100%{
    stroke-dasharray: 50%  0;
    stroke-dashoffset: -20%;
  }
}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: relative; 
    width: 100vw;
}
.logo, .navbar__social, .navbar__top{
  flex: 0 1 33.3333%;
}

.navbar__social {
    text-align: center;
    z-index: 8;}

    .menu__nav{
      display: inline-block;
      position: relative;
    }
 
    .menu__nav:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: var(--primary);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    .menu__nav:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
       
.logo{
  font-size: 1.3rem;
  font-weight: 600;
  z-index: 1;
}

.section__title{
  font-size: max(4.5vw, 4vh);
  color: var(--dark);
  font-weight: 800;
  line-height: 5rem;
}

.title-primary{
color: var(--primary);
}

.dash{
  display: inline-block;
  height: 8px;
  width: 6rem;
  background-color: var(--primary);
  transform: translateY(-15px);

}

#mobileMenuToggle{
  display: none;
}
header{
  z-index: 99;
  position: relative;
}
.navbar__mobileMenu{
  width: 100%; 
  position: fixed;
  background-color: #1C1B20;
  background-image: url("../img/mobile_menu-bg.png");
  background-repeat: no-repeat;
  background-size: 50% 80%;
  bottom: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: all .5s;
  overflow: hidden;
  z-index: 90;
    
}

.navbar__mobileMenu a{
    display: block;
    text-decoration: none;
    padding: 12px; 
    transition: all .5s;
    
}


.navbar__mobileMenuBar{
    position:absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 99;

}
.navbar__social a{
  transform: scale(1);
}
.navbar__social a:hover{
  color: var(--primary);
}

.navbar__mobileMenuBar .menuBar{
        width: 30px;
        height: 4px;
        display: block;
        background-color: #212529;
        margin: 5px 0;
        z-index: 10;
        opacity: 1;
        cursor: pointer;
       transition: all .4s;
        
        
}

.navbar__mobileMenuBar .menuBar:nth-child(3){
    margin-top: -9px;
}


.navbar :checked~ .navbar__mobileMenu{ 
  bottom: 0; 
}

.navbar :checked~ .navbar__mobileMenuBar .menuBar{ 
  background-color: #fff; 
}

.navbar :checked~ .navbar__mobileMenuBar .menuBar:first-of-type,
.navbar :checked~ .navbar__mobileMenuBar .menuBar:last-of-type{
  opacity: 0;
}

.navbar :checked~ .navbar__mobileMenuBar {
 position: fixed;
 top: 30px;
}

.navbar :checked~ .navbar__mobileMenuBar .menuBar:nth-child(2){
  transform: rotate(45deg);
}

.navbar :checked~ .navbar__mobileMenuBar .menuBar:nth-child(3){
  transform: rotate(-45deg);
}

.navbar :checked~ .navbar__mobileMenu a{
 display: block;
}

.navbar :checked~ .navbar__mobileMenu .social__links a{
  display: inline-block;
  }


/*hero section */


.hero__title--hello{
padding-left: 1rem;
font-weight: 600;
color: var(--dark);
transform: translateY(-2rem);
display: block;
}

.hero{
  margin: 0 0 0 auto;
  cursor: url("../img/portfolio-1.jpeg");

}
.hero__title--name{
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px black;
  transform: translate(-1.8rem, -12%);
}



.hero__intro{
  padding-top: 1rem;
  padding-right:15px;
  padding-top: 2.4rem;

 

}

.hero__intro p{
  font-size: 1rem;
line-height: 1.6rem;

}

.hero__intro a{
  font-weight: 500;
}

.link__unerdline{
  color: var(--dark);
  position: relative;
}

.link__unerdline::before{
  position: absolute;
  content: '';
  background-color: var(--dark);
  height: 2px;
  width: 100%;
  bottom: 0;
  transform: translateY(3px);
}

.hero__intro .link__unerdline::before{
  width: 40%;
  transition: all .3s;
}


.hero__bottom--navlink {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 0 1px;
  transition: color ease 0.3s;
  z-index: 2;
  line-height: 1.3;
}

.hero__bottom--navlink::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 10%;
    transform: translateY(5px);
    left: 0;
    bottom: 0;
    background-color:var(--primary);
    transition: all ease 0.3s;
  }

.hero__bottom--navlink:hover {
    color: white;
  }

.hero__bottom--navlink:hover::after {
      height:calc(100% + 5px);
    }


    .hero__bottom--nav{
      z-index: 33;
    }

.hero__bottom--nav .link__unerdline{
  display: inline-block;
  padding: 0 1px;
  transition: color ease 0.3s
}






.hero__intro .link__unerdline:hover::before{
  width: 100%;
}
.hero__intro h4{
  font-size: 1.9! important;
  font-weight: 800;
  color: var(--color);
  margin-bottom: .8rem;
}

.hero__bottom--nav{
  background-color: var(--body-bg);
  display: grid;
  place-items: center;
  width: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero__bottom--nav  .mail__link{
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: .15rem;
}





/* About me section */
.about{
  background-color: var(--bg-lighter);
  background-image: url(assets/img/coffee.png);
  overflow: hidden;

}
.about .container{
  position:relative
}
.wrapper{
  max-width: 680px;
  margin: auto ;
}

.bg-pencils{
  position: fixed;
  display: inline;
}

.title__desc {
  font-size: .9rem;
  letter-spacing: .1rem;
  font-weight: 100;
  line-height: 2.8rem;
  color: #212529;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.subtitle{
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #212529;
  margin-bottom: 1.5rem;
}

.abaout p{
  text-align:justify;
  word-break: break-all;
}
.bg-coffee{
background-image: url("../img/coffee.png");
background-size: 200px;
background-repeat: no-repeat;
position: absolute;
top: 22%;
left: 5%;
width: 200px;
height:100%;
}

.bg-pencils{
  background-image: url("../img/boxofpencils.png");
background-size: 250px;
background-repeat: no-repeat;
position: absolute;
top: 22%;
right: 8%;
width: 250px;
height:100%;
}

.bg-notepad {
  background-image: url("../img/calepin.png");
  background-size: 354px;
  background-repeat: no-repeat;
  position: absolute;
  top: 46%;
  right: 0;
  width: 350px;
  height: 50%;
  transform: rotate(-46deg);
}

.bg-compas{
  background-image: url("../img/geometrycompas2.png");
background-size: 60px;
background-repeat: no-repeat;
position: absolute;
top: 52%;
right: 19%;
width: 60px;
height:100%;
}

.container, .container{
  max-width: 1200px;
  margin: 0 auto;
}


.grid__row{
  display: flex;
}

.grid-col-unit-6{
  flex: 0 1 50%;
}



.service__description{
  padding-top: 10%;
  cursor: url("../img/home_cursor.png") 16 0,auto;
}
.service-box{
  margin-top: 4rem;
}

.services__cards{
  display: grid;
}
.service__item{
  align-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  transition: all ;
}

.service__item img{
  height: 80px;
  width: 80px;
  margin-bottom: 1.2rem;
}
.service__item:first-child{
  grid-area: design_and_prototype;
}

.service__item:nth-child(2){
  grid-area: web_developpement;
  background-color: var(--primary);

}

.service__item:nth-child(2) span, 
.service__item:first-child span{
  display: block;
  
}
.service__item:nth-child(3){
  grid-area: app_developpement;
}

.service__item:last-child{
  grid-area: deployement;
}

.service__item:nth-child(2) span, 
.service__item:first-child span{
  display: block;
  
}


.service__item:not(.service__item:nth-child(2)){
  background-color:#1C1B20;
}

.service__paragraph{
  display: none;
  position: relative;
  z-index: 3;

}

.service__item:hover .service__paragraph{
  display: block;
  color: var(--white);
}
.skills{
  position: relative;
  background-color: var(--bg-light);
}
.skills .title{
  margin-left: 10%;
}



.skills__list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 8vh;
}
.skills__list .progress-bar{
height: 10px;
width: 100%;
background-color: #F3BFBF;
margin-bottom: 9vh;
margin-right: 15px;
position: relative;
}
.skills__list .progress__fil{
  height: 100%;
  background-color: #dd2d2d;
}

.figma{
  width: 80%;
}
.xd{
  width: 60%;
}
.wp{
  width: 90%;
}
.html{
  width: 96%;
}
.angular{
  width: 70%;
}
.g-analytics{
  width: 55%;
}
.web-d{
  width: 88%;
}

.progress__text{
  position: absolute;
  top:0;
  transform: translateY(-100%);
}
.bg__ipad {
  background-image: url("../img/ipadpro.png");
  background-size: 265px;
  background-repeat: no-repeat;
  position: absolute;
  top: 24%;
  right: 7%;
  width: 265px;
  height: 55%;
  transform: rotate(-45deg);
}

  

  .experiences{
    padding: 5rem 0;
 
    }

.experiences .container{
  position: relative;
  padding-right:0 ;
  padding-left:0 ;
}


.experiences .bg__line{
display: block;
 position: absolute;
 height: (100% + 10rem);
 top: -5rem;
 bottom: -5rem;
 z-index: 3;

}

.experiences .title{
  max-width: 70%;
  margin: 0 auto ;
  position: relative;
  z-index: 4;
}
.experiences__box{
  position: relative;
  z-index: 4;
}

.experience__item{
  padding: 3rem 0;
  display: grid;
}
.date{
grid-area: date;
}

.company{
  grid-area: company;
  display: flex;
  align-items: flex-start;
}


.company .job__tile h4{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark);
  line-height: 1;
  margin:0 auto ;
}
.company .job__tile p{
  line-height: 2;
  margin:0 auto ;
}

.job__desc{
  grid-area: job__desc
}


.experiences__box .rtl .date{
  justify-self: end;
}

.portfolio{
  padding: 5rem 0 10rem;
  background-color: var(--bg-light);

}

.portfolio .title{
max-width: 80%;
 margin: 0 auto 2rem;

}

.portfolio__projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__projects .project{
  flex:0 1 45%;
  margin-bottom: 8rem;
}

.porfolio__projects--title{
  display: block;
  margin-bottom: 2rem;
}

.project img{
width: 100%;
height: auto;
}

.box-down{
  transform: translateY(50%);
}
.testimonials__img::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgb(234,234,235);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(0,212,255,0) 30%);
  z-index: 3;
  top: 0;
  bottom: 0;
}
.testimonials{
  padding: 5rem 0;
  position: relative;
}
.testimonials .title{
  margin-bottom: 5rem;
}
.testimonials__box{
  display: flex;
}

.testimonials__intro, .testimonial{
  flex: 0 1 99%;
}

.testimonials__intro{
   align-self: flex-start;
}
.testimonials__intro h3 {
   font-weight: 800;
   color: var(--dark);
}
.testimonials__img{
   align-self: stretch;
}

.testimonials__img {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 2;
  position: relative;
}
.testimonial{
   align-self: center;
}

.testimonial p{
  line-height: 1.5;
  margin-bottom: 3rem;
}

.testimonial h5{
  line-height: 1;
  font-weight: 600;
  color: var(--dark);
}
.testimonials__img img{
max-height: 500px;
width: auto;
z-index: 2;
display: inline-block;
}
.testimonials__img{
  position: relative;
}
.testimonials__img img::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image:linear-gradient(to top, rgba(197, 60, 60, 0.815), rgba(255, 255, 255, 0));
  z-index: 3;
  top: 0;
  bottom: 0;
}

.testimonial .company__name{
  font-weight: 600;
  font-size: 1rem;
}


.clients{
  background-color: var(--bg-lighter);
  position: relative;
}
.clients .conainer{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.companies .section__title{
  margin-bottom: 3rem;
}

.companies{
  padding: 5rem 0;
  margin-bottom: 5rem;
  flex: 0 1 60%;
  z-index: 2;
  position: inherit;

}

.companies__box{
  justify-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.companies__box img{
max-height: 80%;
max-width: 80%;
}
.companies__box .company{
  padding: 2rem;
  border: 1px solid black;
  border-collapse: collapse;
  display: grid;
  place-items: center;
}

.companies__box .company:nth-of-type(4){
  border-right:0;
}

.companies__box .company:nth-of-type(3),
.companies__box .company:nth-of-type(2){
  border-right:0;
  border-bottom: 0;
}
.companies__box .company:nth-of-type(1){
  border-bottom:0;
}

.companies__box .company:nth-of-type(7),
.companies__box .company:nth-of-type(6){
  border-right:0;
}
.companies__box .h1{
  text-align: right;
}
.contact__me{
  align-self: center;
  flex: 0 1 40%;
  padding-left: 3rem;
}

.companies__box:nth-child(3){
    border-right: 0;
}

footer{
  padding: 5rem 0 0;
background-image: url("../img/footer-bg.png");
cursor: url("../img/Logo.svg") ;
}

footer .conainer{
  max-width: 1200px;
  margin: 0 auto;
}

footer .mail__box{
  text-align: center;
  margin-bottom: 5rem;
}

footer .mail__box span{
  text-transform: uppercase;
  color: var(--color);
  letter-spacing: .2rem;
}

footer .mail__box a{
   font-size: 4rem;
   color: var(--dark);
   font-weight: 800;
   text-decoration: underline;
}

.mail__box span{
   display: block;
}

.footer__boxes{
  display: flex;
}

.phone, .socials{
  flex: 0 1 50%;
}

.social__links a{
 height: 25px;
 width: 25px;
 margin: 0 10px;
}
.phone h3{
  font-size: 2.5rem;
  font-weight: 800;
}
.phone, .social span{
  font-size: 2rem;
  font-weight: 800;
  color: var(--dark);
}

.footer__box{
  text-align: center;
  font-size: .8rem;
  line-height: .3;
  letter-spacing: .12rem;
  color: var(--dark) ;
  padding: 1rem 0;
}


.contact__window {
  visibility: hidden;
  opacity: 0;
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #171717;
  transition: all .4s;
  z-index: 999;
}

.contact__window:target {
  visibility: visible;
  opacity: 1;
}

.contact__content {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: 3D3C3C;
  padding:0 2em;
}
.contact__form{
  display: flex;
  height: 100%;
}
.contact__bg, .form__contact{
  flex: 0 1 50%;
}
.contact__close {
  position: absolute;
  top: 3rem;
  right: 2rem;
  color: #ffffff;
  font-size: 5rem;
  text-decoration: none;
  line-height: 0;
}

.form__contact{
  color: var(--white);
  display: flex;
  align-items: center;
 width: 100%;
}

.form__contact form{
  padding: 0 5rem 0 3rem;
}
.form__contact h5{
   margin-bottom: 3rem;
}
.form__contact input{
  background-color: #3D3C3C;
  height: 55px;
  padding: 1rem;
  outline: none;
  border: 0;
  color: var(--white);
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}

.form__contact  textarea {
  background-color: #3D3C3C;
  border: 0;
  outline: none;  
  color: var(--white);
  padding: 1rem;
  width: 100%;
}
.form__contact input[type="submit"]{
background-color: var(--primary);
text-transform: uppercase;
font-size: 1rem;
width: 35%;
float: right;
margin-top: 2rem;
}
.contact__modal--footer{
  position: absolute;
bottom: 5rem;
display: flex;
justify-content: space-between;
min-width: 33rem;
padding-left: 2rem;
}

.contact__modal--footer .phone{
  color:#8B8989;
  font-weight: 200;
  font-size: 1rem;
}
.contact__modal--footer  .social__links a {
  margin: 0 5px;
}

.contact__bg{
    width: 100%; 
    background-image:linear-gradient(to right, rgba(41, 41, 41, 0.349), rgba(31, 31, 31, 0.26)), url("../img/contact__orm--bg.png");
    background-repeat: no-repeat;
    background-size:90%  100% ;
    background-position: center;
     
}

.contact__me a{
  color: var(--dark);
  font-weight: 600;
  position: relative;
}

.contact__me a::before{
  position: absolute;
  content: '';
  background-color: var(--dark);
  height: 2px;
  width: 50%;
  bottom: 0;
  transform: translateY(3px);
  transition: all .3s;
}

.contact__me a:hover::before{
  width: 100%;
  background-color: var(--primary);
}

/* ====

   Large screen style: for screen from 992px
    
                ====*/

@media screen and (min-width:992px){
  .navbar{
    height: 105px;
    max-width: 99%;
    margin: 0 auto;
}

.navbar .logo img{
height: 45px;
}
  .navbar__social, .navbar__top{
    display: block;
   }
   .navbar__mobileMenu, 
   .navbar__mobileMenuBar{
     display: none;
   }

   .navbar__social a{
     font-size: 1.1rem;
     color: var(--dark);
     font-weight: 600;
     padding: 0 15px;
   }

   .navbar__top a{
    font-size: 1.1rem;
    color: var(--dark);
    font-weight: 400;
  }

  .menu__nav{
    margin-right: 2rem;
  }
  .hero__image::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(234,234,235);
    background: linear-gradient(0deg, rgb(251 236 233) 0%, rgb(251 236 233) 15%, rgb(251 236 233 / 0%) 30%);
    z-index: 10;
    top: 0;
    bottom: 0;
    transform: translateY(32%);
}
  .navbar__top .navbar__top--button{
    background-color: var(--primary);
    color: var(--white);
    padding: 20px 25px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;

  }

  .logo .navbar__social, .navbar__top{
     flex: 0 1 33%;
     text-align: right;

  }

  .navbar__social{
    justify-self: center;
  }

 
  .hero{
    background-color:#FBEDE9;
    width: 92%;
    min-height: calc(100vh - (73px + 2rem));
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 0 auto;
    align-items: center;
    
   
  }
  .hero__underground, .hero__image{
    width: 35%;
    height: 100vh;
    background-color: #F3BFBF;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -33%);
    display:flex;
    align-items: flex-end;
    justify-content: center;
  
  }

  .hero__image img{
    height: 60%;
    bottom: 0;
    transform: translateY(33%);
    position: relative;
    z-index: 9;
  }

  .hero__image img::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;

  }

  .hero__title--name{
    font-size: 12vw;
    line-height: 1;
  }

  .hero__image{
    background-color:transparent;
    z-index: 9;
  }

  .hero__title{
    flex: 0 1 60%;
  }

  .spacer{
    flex: 0 1 20%;
  }

  .hero__title, .hero__intro{
    z-index: 8;
    
  }
  .hero__bottom--nav{
  
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 50px;
  }
  .hero__bottom--nav a{
    display: inline-block;
    margin: 0 2rem;
  }
  
  .about .container{
    padding: 6rem 0;
  }

  .services  .container{
    padding: 5rem 0;
   }

   .services__cards{
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "design_and_prototype web_developpement app_developpement deployement";
    gap: 10px;
  }

  .service__item{
    padding: 20px;
    
  min-height:  280px ;
  }
  .skills{
    padding: 6rem 0;
  }
  .skillsIntro__box {
    max-width: 60%;
    margin: 0 auto;
  }
  .skills__conent {
    max-width: 80%;
    margin-top: 4rem;
  }

  .bg__plant{
    background-image: url("../img/topplant.png");
  background-size:150px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  right: 13%;
  width: 150px;
  height: 35%;
  }
  
  .bg__sticky-note{

    background-image: url("../img/sticky-note.png");
    background-size: 120px;
    background-repeat: no-repeat;
    position: absolute;
    top: 45%;
    left: 8%;
    width: 120px;
    height:150px;
  }

  .skills__list .progress-bar{
    flex: 0 1 calc(25% - 20px);
  }


  
.line-1{
  width: 1px;
  border-right: 1px solid var(--bg-light);
  left: 0;
  }
  .line-2{
    width: 33.333%;
    left: 33.333%;
    border-right: 1px solid var(--bg-light);
  }
  .line-3{
  width:33.333%;
  right: 33.333%;
  border-left: 1px solid var(--bg-light);
  }
  .line-4{
    width: 1px;
    border-left: 1px solid var(--bg-light);
    right: 0;
  }
  .experiences .title {
    margin-bottom: 3rem;
}
  .experience__item{
    padding: 3rem 0;
    grid-template-columns: repeat(3, 33.333%) ;
    grid-template-areas: "date company job__desc";
  }

  
.experiences__box .rtl  {
  grid-template-areas: "company job__desc date";
  background-color: var(--bg-light);
  position: relative;
  z-index: 0;
}
  .company .job__tile{
    margin-left: 1rem;
    margin: 15px 0 0 1rem;
  }
  .testimonials{
    padding: 5rem 0;
    background-image: url("../img/testimonials-bg.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 40%;
  }

  .testimonial{
    align-self: center;
    padding-left: 3rem;
 }
 .testimonials__img {
  background-size: 25vw;
  height: 28vw;
}

 .companies__box .company{
  height: 150px;
  width: 150px;
  }

  .clients .conainer::before{
    content: "";
    position: absolute;
    background-color: var(--bg-light);
    height: 88%;
    width: 59%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .form__contact form {
    flex-basis: 80%;
}



}


@media screen and (max-width:991px){

  .preloader__text span{
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 200;
    letter-spacing: .5rem;
   }
   .hero__image::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(234,234,235);
    background: linear-gradient(0deg, rgb(243 191 191) 0%, rgb(243 191 191) 1%, rgb(243 191 191 / 0%) 20%);
    z-index: 10;
    top: 0;
    bottom: 0;
    transform: translateY(1%);
}
 .conainer{
   margin: auto 15px
 }

 .container {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}

.title__desc {
  font-size: .7rem;
}
  .navbar{
    height: 80px;

    margin-bottom: 2rem;
}
  .navbar__social, .navbar__top{
    display: none;
   }

   .mobileMennu__links {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobileMennu__links a{
font-size: 12vw;
line-height: 1;
font-weight: 900;
color: transparent;
-webkit-text-stroke: 1px #fff;
}

.mobileMennu__links a:focus{
  color: #fff;
  -webkit-text-stroke: 0;
}
.mobileMennu__links .active{
  color: #fff;
  -webkit-text-stroke: 0;
}

.mobileMenu__footer {
  position: absolute;
  bottom: -80%;
  width: 100%;
  text-align: center;
}

.mobileMenu__footer span{
   color: rgb(209, 209, 209);
   font-size: 1.5rem;
}
.mobileMenu__footer .social__links{
margin-bottom: 2rem;
}
.mobileMenu__footer .social__links a{
margin: 0 10px;
}

.hero {
    background-color:#FBEDE9;
    width: 100%;
    min-height: calc(100vh - (80px + 2rem));
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
   
  }

   .hero__underground, .hero__image{
    width: 85%;
    height: 75vh;
    background-color: #F3BFBF;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-45%);
    display:flex;
    align-items: flex-end;
    justify-content: center;
  
  }

  .hero__image{
    background-color:transparent;
    z-index: 2;
  }
  

  .hero__image img{
    height:45%;
    bottom: 0;
    position: relative;
    z-index: 9;

}

.hero__title, .hero__intro{
  z-index: 1;
  position: relative;
  margin-left: 15%;
  flex: 1 1 50%;

}

.hero__title--name{
  font-size: 4rem;
}

.hero__bottom--nav{
  height: 60px;
}



.display-md-none{
  display: none;
}


.section__title{
  font-size: 2.3rem;
  line-height: 2rem;
}



.dash{
  height: 5px;
  width: 3rem;
  transform: translateY(-6px);

}

.about .container{
  padding-top: 4rem;
  padding-bottom: 4rem;
}


.bg-coffee {
  background-size: 100px;
  top: 14%;
  left: -1%;
  width: 120px;
  height: 20%;
}

.main-title{
  width: 80%;
  margin-left: auto;
}

.subtitle{
  font-size: 1.3rem;
  line-height: 2.2rem;
 font-weight: 600;
}

.about p{
  font-size: 1rem;
  position: relative;
  z-index: 9;
}
.bg-pencils {
  background-size: 33vw;
  top: 33%;
  right: 0;
  width:33vw;
  height: 32vw;
}
.bg-notepad{
  background-size: 55vw;
  top: 44%;
  right: -100px;
  width: 55vw;
  height: 78vw;
}
.bg-compas {
  background-size: 10vw;
  top: 52%;
  right: 20%;
  width: 10vw;
  height: 39vw;
}

.services  .container{
  padding-top: 5rem;
 }
.grid__row{
  display: block;
}

  .service__description{
    max-width:100%;
  
}

.service-box{
  
  margin-top: 6rem;
}

.services__cards{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "design_and_prototype web_developpement" 
   "app_developpement deployement";
  gap: 20px;
}

.service__item{
  aspect-ratio: 1/1;
  padding-bottom: 1rem;
}

.service__item img, .service__item h5{
  padding-left: 10px;
}
.service__item img{
 height: 60px;
 width: 70px;
}
.service__item .service{
font-size: 1rem;
font-weight: 600;
}
.service__item:first-child,
.service__item:nth-child(2) {
margin-bottom: 2rem;
  
}
.service__item:first-child,
.service__item:nth-child(3) {
 transform: translateY(-20%);
  
}

.bg__sticky-note{
display: none;
}
.bg__plant {
  background-image: url("../img/topplant.png");
  background-size: 96px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  left: 8%;
  width: 95px;
  height: 35%;
}
.bg__ipad {
  background-image: url("../img/ipadpro.png");
  background-size: 181px;
  background-repeat: no-repeat;
  position: absolute;
  top: 3%;
  left: -9%;
  width: 174px;
  height: 32%;
  transform: rotate(-60deg);
  z-index: 2;
}


.skills{
  padding: 4rem 0;
}
.skills .title {
 margin-left: 25%;
  margin-bottom: 1.2rem;
}


.skills__list .progress-bar{
  flex: 0 1 70%;
}


.line-1{
  width: 1px;
  border-right: 1px solid var(--bg-light);
  left: 10%;
  }
  .line-2{
    width: 40%;
    left:50%;
    border-left: 1px solid var(--bg-light);
  }
  .line-3{
display: none;
  }
  .line-4{
    width: 1px;
    border-left: 1px solid var(--bg-light);
    right: 10%;
  }



  .experiences .section__title {
    line-height: 3rem;
}

  .experience__item {
    padding: 5rem  0 1rem;
}
  .experiences .title {
    margin-bottom: 2rem;
}
  .experience__item{
    grid-template-columns: repeat(2, 50%) ;
    grid-template-areas: 
    " company date" 
    "job__desc job__desc";
  }
.experience__item .date h4{
font-size: 1rem;
color: var(--color);
}
  
.experiences__box .rtl  {
  grid-template-areas: 
  "date  company " 
  "job__desc job__desc";
  background-color: var(--bg-light);
  position: relative;
  z-index: 0;
}
  .company, .experiences__box .rtl .date{
    margin-left: 20%;
}

.company .job__tile h4 {
  font-size: 1rem;
}

.company .job__tile {
  margin-left: 1rem;
}

.company .job__tile p {
  line-height: 2;
 font-size: .9rem;
}

.company img{
  height: 60px;
}
.date {
  align-self: end;
  transform: translateY(80%);
}
.company{
  align-items: center;
}
.experiences__box .rtl .date {
  justify-self: flex-start;
  align-self: start;
  transform: translateY(-80%);
}


.experiences__box .rtl .company  {
  margin-left: 0;
}
.job__desc {

 max-width: 80%;
 margin: 2rem auto ;
}

.portfolio {
  padding: 4rem 0 2rem;
}

.portfolio .title {
margin-bottom: 3.2rem;
}
.portfolio__projects {
  flex-direction: column;
}
.portfolio__projects .project {
  margin-bottom: 4rem;
}

.porfolio__projects--title {
  margin-bottom: 1rem;
  text-align: right;
}
.box-down {
  transform: translateY(0%);
}

.box-down .porfolio__projects--title{
  text-align:left;
}
.testimonials__box {
  flex-direction: column;
}
.testimonials__intro {
  max-width: 70%;
  margin: 0 auto 1rem;
  text-align:center ;
}

.testimonials__intro h3 {
  font-size: 1.6rem;
}
.testimonial {
  text-align: center;
}


.testimonials__img img {
  max-height: 500px;
  width: 100%;
}

.testimonials__img {
  background-size: 70vw;
  height: 80vw;
}

 .testimonials__img::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(234,234,235);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(0,212,255,0) 30%);
    z-index: 3;
    top: 0;
    bottom: 0;
}
.companies__box .company {
  padding: 2rem;
  border: 1px solid black;
  border-collapse: collapse;
  display: grid;
  place-items: center;
  flex: 0 1 25%;
  aspect-ratio: 1/1;
  margin-left: 0;
}

.clients .conainer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.companies {
  padding: 4rem 0 1rem;
  margin-bottom: 1rem;
}
.companies__box .company{
  padding: 1.5rem;
}
.companies .company img {
 height: auto; 
}
.contact__me { 
  padding: 0 0 4rem;
}



footer {
  padding: 3rem 0 0;
}
footer .mail__box {
  margin-bottom: 4rem;
}
footer .mail__box a {
  font-size: 1.5rem;
}

.phone, .social span {
  font-size: 1rem;
}

.phone h3 {
  font-size: 1.5rem;
}
.social__links a {
  margin: 0 5px;
}
.social__links img {
height: 25px;
}

.footer__box {
  padding:3rem 0 0.6rem;
}
footer .mail__box span {
  font-size: .8rem;
}

.footer__box p{
  font-size: .7rem;
}
.contact__bg{
display: none;
}

.form__contact form{
  padding: 1rem ;
}

.contact__bg, .form__contact {
  flex: 100%;
}

.contact__close {
  font-size: 3.5rem;
}

.form__contact input[type="submit"] {
  width: 100%;
  height: 45px;
  margin-top: 1.2rem;
  line-height: .5rem;
  font-size: .8rem;
}
.contact__modal--footer {
  bottom: 3rem;
  min-width: 20rem;
  padding-left: 1rem;
}
.contact__modal--footer .phone {
  font-size: .82rem;
}
.contact__modal--footer  .social__links a img{
  height: 20px;
  width: 20px;
}

}

@media screen and (max-width:580px) {
  .hero__intro a {
    font-size: 4vw;
}

.hero__bottom--navlink {
   font-size: 1rem;
}
  .skills .title {
    float: right;
    margin-bottom: 1.2rem;
  }
  .skills__conent{
    text-align: justify;
  }
  .skillsIntro__box{
    clear: both;
    position: inherit;
    z-index: 3;
  }
  .skills__list .progress-bar{
    flex: 0 1 90%;
  }
}



