@charset "UTF-8";

/* Global style */

:root {

  --primary: #FF3334;
  --bg-lighter: #FAFAFA;
  --bg-light: #f8f7f7;
  --bg-dark: #212529;
  --primary-rgb: 13, 110, 253;
  --secondary-rgb: 108, 117, 125;
  --dark-light: 25, 135, 84;
  --primary-hover: 13, 202, 240;
  --font-famly: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --body-font-family: var(--bs-font-sans-serif);
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --color: #212529;
  --body-bg: #fff;
  --white: #fff;
  --dark:#000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html,
body {
	height: 100%;
  font-family: 'Poppins', sans-serif;

}

body {
  margin: 0;
	font: normal 300 1.2rem/1.86 "Poppins", sans-serif;
	color: #666;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

::-moz-selection {
	color: #fff;
	background-color: var(--primary)
}

::selection {
	color: #fff;
	background-color: var(--primary)
}


h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}



p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
}

a {
	color: var(--primary);
	text-decoration: none;
	transition: color 0.3s ease
}

a:hover,
a:focus {
	color: var(--primary);
	text-decoration: none
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}


ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}


b,
strong {
  font-weight: bolder;
}

.mb-2{
  margin-bottom: 2.5rem;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.navbar {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  } 



  /* ====

    Mobile first:
    Small screen style(for 991px max-size screen) in firtst
    
    ====*/



/* Top navigation bar */

.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: relative; 
    width: 100vw;
}
.logo, .navbar__social, .navbar__top{
  flex: 0 1 33.3333%;
}

.navbar__social
{text-align: center;
    z-index: 8;}


.logo{
  font-size: 1.3rem;
  font-weight: 600;
  z-index: 1;
}

.section__title{
  font-size: 5rem;
  color: var(--dark);
  font-weight: 800;
  line-height: 5rem;
}

.title-primary{
color: var(--primary);
}

.dash{
  display: inline-block;
  height: 8px;
  width: 6rem;
  background-color: var(--primary);
  transform: translateY(-15px);

}

#mobileMenuToggle{
  display: none;
}

.navbar__mobileMenu{
  width: 100%; 
  position: fixed;
  background-color: rgb(83, 83, 83);
  bottom: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: all .5s;
  overflow: hidden;
  z-index: 9;
    
}

.navbar__mobileMenu a{
    display: block;
    text-decoration: none;
    color: rgb(246, 96, 96);
    padding: 20px; 
    transition: all .5s;
    
}


.navbar__mobileMenuBar{
    position:absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 10;

}


.navbar__mobileMenuBar .menuBar{
        width: 30px;
        height: 4px;
        display: block;
        background-color: #212529;
        margin: 5px 0;
        z-index: 10;
        opacity: 1;
        cursor: pointer;
       transition: all .4s;
        
        
}

.navbar__mobileMenuBar .menuBar:nth-child(3){
    margin-top: -9px;
}


.navbar :checked~ .navbar__mobileMenu{ 
  bottom: 0; 
}

.navbar :checked~ .navbar__mobileMenuBar .menuBar{ 
  background-color: #fff; 
}

.navbar :checked~ .navbar__mobileMenuBar .menuBar:first-of-type,
.navbar :checked~ .navbar__mobileMenuBar .menuBar:last-of-type{
  opacity: 0;
}

.navbar :checked~ .navbar__mobileMenuBar .menuBar:nth-child(2){
  transform: rotate(45deg);
}

.navbar :checked~ .navbar__mobileMenuBar .menuBar:nth-child(3){
  transform: rotate(-45deg);
}

.navbar :checked~ .navbar__mobileMenu a{
 display: block;
}


/*hero section */


.hero__title--hello{
padding-left: 1rem;
font-weight: 600;
color: var(--dark);
transform: translateY(-2rem);
display: block;
}

.hero{
  margin: 0 0 0 auto;
}
.hero__title--name{
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px black;
  transform: translate(-1.8rem, -12%);
}



.hero__intro{
  padding-top: 1rem;
  padding-right:15px;
  padding-top: 2.4rem;

 

}

.hero__intro p{
  font-size: 1rem;
line-height: 1.6rem;

}

.hero__intro a{
  font-weight: 500;
}

.link__unerdline{
  color: var(--dark);
  position: relative;
}

.link__unerdline::before{
  position: absolute;
  content: '';
  background-color: var(--dark);
  height: 2px;
  width: 100%;
  bottom: 0;
  transform: translateY(3px);
}

.hero__intro .link__unerdline::before{
  width: 40%;
}


.hero__intro h4{
  font-size: 1.9! important;
  font-weight: 800;
  color: var(--color);
  margin-bottom: .8rem;
}

.hero__bottom--nav{
  background-color: var(--body-bg);
  display: grid;
  place-items: center;
  width: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero__bottom--nav  .mail__link{
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: .15rem;
}





/* About me section */
.about{
  background-color: var(--bg-lighter);
  background-image: url(assets/img/coffee.png);
}
.about .container{
  position:relative
}
.wrapper{
  max-width: 680px;
  margin: auto ;
}

.bg-pencils{
  position: fixed;
  display: inline;
}

.title__desc{
  font-size: 1.2rem;
  letter-spacing: .5rem;
  font-weight: 200;
  line-height: 2.8rem;
  color: #212529;
  margin-bottom: 1.5rem;
}
.subtitle{
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #212529;
  margin-bottom: 1.5rem;
}

.abaout p{
  text-align:justify;
  word-break: break-all;
}
.bg-coffee{
background-image: url("../img/coffee.png");
background-size: 200px;
background-repeat: no-repeat;
position: absolute;
top: 22%;
left: 5%;
width: 200px;
height:100%;
}

.bg-pencils{
  background-image: url("../img/boxofpencils.png");
background-size: 250px;
background-repeat: no-repeat;
position: absolute;
top: 22%;
right: 8%;
width: 250px;
height:100%;
}

.bg-notepad{
  background-image: url("../img/calepin.png");
background-size: 400px;
background-repeat: no-repeat;
position: absolute;
top: 34%;
right: 0;
width: 400px;
height:100%;
}

.bg-compas{
  background-image: url("../img/geometrycompas2.png");
background-size: 60px;
background-repeat: no-repeat;
position: absolute;
top: 52%;
right: 19%;
width: 60px;
height:100%;
}

.container, .container{
  max-width: 1200px;
  margin: 0 auto;
}


.grid__row{
  display: flex;
}

.grid-col-unit-6{
  flex: 0 1 50%;
}
.service__description{
  padding-top: 10%;
}
.service-box{
  margin-top: 4rem;
}
.services__cards{
 display: flex;
}
.service__item{
  flex: 0 1 25%;
  padding: 20px;
  margin: auto 10px;
  min-height:  260px ;
  align-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;

}

.service__item img{
  height: 80px;
  width: 80px;
  margin-bottom: 1.2rem;
}


.service__item:nth-child(2){
  background-color: var(--primary);

}

.service__item:nth-child(2) span, 
.service__item:first-child span{
  display: block;
  
}


.service__item:not(.service__item:nth-child(2)){
  background-color:#1C1B20;
}
.skills{
  position: relative;
  background-color: var(--bg-light);
  padding: 6rem 0;
}
.skills .title{
  margin-left: 10%;
}

.skillsIntro__box {
  max-width: 60%;
  margin: 0 auto;
}
.skills__conent {
  max-width: 80%;
  margin-top: 4rem;
}

.skills__list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 8vh;
}
.skills__list .progress-bar{
  flex: 0 1 calc(25% - 20px);
height: 10px;
width: 100%;
background-color: #F3BFBF;
margin: 3vh 10px;
position: relative;
}
.skills__list .progress__fil{
  height: 100%;
  width: 10%;
  background-color: #dd2d2d;
}

.progress__text{
  position: absolute;
  top:0;
  transform: translateY(-100%);
}
.bg__ipad{
  background-image: url("../img/ipadpro.png");
  background-size: 400px;
  background-repeat: no-repeat;
  position: absolute;
  top: 35%;
  right: 7%;
  width: 400px;
  height:90%;
  transform: rotate(-45deg);
  }
  
  .bg__sticky-note{

    background-image: url("../img/sticky-note.png");
    background-size: 120px;
    background-repeat: no-repeat;
    position: absolute;
    top: 45%;
    left: 8%;
    width: 120px;
    height:150px;
  }
  
  .bg__plant{
    background-image: url("../img/topplant.png");
  background-size:150px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  right: 13%;
  width: 150px;
  height: 35%;
  }
  

  .experiences{
    padding: 5rem 0;
 
    }

.experiences .container{
  position: relative;
  padding-right:0 ;
  padding-left:0 ;
}


.experiences .bg__line{
display: block;
 position: absolute;
 height: (100% + 10rem);
 top: -5rem;
 bottom: -5rem;
 z-index: 3;

}

.line-1{
width: 1px;
border-right: 1px solid var(--bg-light);
left: 0;
}
.line-2{
  width: 33.333%;
  left: 33.333%;
  border-right: 1px solid var(--bg-light);
}
.line-3{
width:33.333%;
right: 33.333%;
border-left: 1px solid var(--bg-light);
}
.line-4{
  width: 1px;
  border-left: 1px solid var(--bg-light);
  right: 0;
}
.experiences .title{
  max-width: 70%;
  margin: 0 auto ;
  position: relative;
  z-index: 4;
  margin-bottom: 3rem;
}
.experiences__box{
  position: relative;
  z-index: 4;
}

.experience__item{
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 33.333%) ;
  grid-template-areas: "date company job__desc";
}

.date{
grid-area: date;
}

.company{
  grid-area: company;
  display: flex;
  align-items: flex-start;
}
.company .job__tile{
  margin-left: 1rem;
  margin: 15px 0 0 1rem;
}

.company .job__tile h4{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark);
  line-height: 1;
  margin:0 auto ;
}
.company .job__tile p{
  line-height: 2;
  margin:0 auto ;
}

.job__desc{
  grid-area: job__desc
}

.experiences__box .rtl  {
  grid-template-areas: "company job__desc date";
  background-color: var(--bg-light);
  position: relative;
  z-index: 0;
}

.experiences__box .rtl .date{
  justify-self: end;
}

.portfolio{
  padding: 5rem 0 10rem;
  background-color: var(--bg-light);

}

.portfolio .title{
max-width: 80%;
 margin: 0 auto 2rem;

}

.portfolio__projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__projects .project{
  flex:0 1 45%;
  margin-bottom: 8rem;
}

.porfolio__projects--title{
  display: block;
  margin-bottom: 2rem;
}

.project img{
width: 100%;
height: auto;
}

.box-down{
  transform: translateY(50%);
}

.testimonials{
  padding: 5rem 0;
}
.testimonials .title{
  margin-bottom: 5rem;
}
.testimonials__box{
  display: flex;
}

.testimonials__intro, .testimonials__img, .testimonial{
  flex: 0 1 33.333%;
}

.testimonials__intro{
   align-self: flex-start;
}
.testimonials__intro h3 {
   font-weight: 800;
   color: var(--dark);
}
.testimonials__img{
   align-self: stretch;
}
.testimonial{
   align-self: center;
   padding-left: 3rem;
}

.testimonial p{
  line-height: 1.5;
  margin-bottom: 2rem;
}

.testimonial h5{
  line-height: 1;
  font-weight: 600;
  color: var(--dark);
}
.testimonials__img img{
max-height: 500px;
width: auto;
}

.clients{
  background-color: var(--bg-lighter);
  position: relative;
}
.clients .conainer{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.companies .section__title{
  margin-bottom: 3rem;
}

.companies{
  padding: 5rem 0;
  margin-bottom: 5rem;
  flex: 0 1 60%;
  z-index: 2;
  position: inherit;

}
.clients .conainer::before{
  content: "";
  position: absolute;
  background-color: var(--bg-light);
  height: 88%;
  width: 59%;
  top: 0;
  left: 0;
  z-index: 1;
}
.companies__box{
  justify-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.companies__box img{
height: 40%;
width: 100%;
}
.companies__box .company{
  height: 150px;
  width: 150px;
  padding: 2rem;
  border: 1px solid black;
  border-collapse: collapse;
  display: grid;
  place-items: center;
}
.companies__box .h1{
  text-align: right;
}
.contact__me{
  align-self: center;
  flex: 0 1 40%;
  padding-left: 3rem;
}

.companies__box:nth-child(3){
    border-right: 0;
}

footer{
  padding: 5rem 0 0;
background-image: url("../img/footer-bg.png");
}

footer .conainer{
  max-width: 1200px;
  margin: 0 auto;
}

footer .mail__box{
  text-align: center;
  margin-bottom: 5rem;
}

footer .mail__box span{
  text-transform: uppercase;
  color: var(--color);
  letter-spacing: .2rem;
}

footer .mail__box a{
   font-size: 4rem;
   color: var(--dark);
   font-weight: 800;
   text-decoration: underline;
}

.mail__box span{
   display: block;
}

.footer__boxes{
  display: flex;
}

.phone, .socials{
  flex: 0 1 50%;
}

.social__links a{
 height: 25px;
 width: 25px;
 margin: 0 10px;
}
.phone h3{
  font-size: 2.5rem;
  font-weight: 800;
}
.phone, .social span{
  font-size: 2rem;
  font-weight: 800;
  color: var(--dark);
}

.footer__box{
  text-align: center;
  font-size: .8rem;
  line-height: .3;
  letter-spacing: .12rem;
  color: var(--dark) ;
  padding: 1rem 0;
}
/* ====

   Large screen style: for screen from 992px
    
                ====*/

@media screen and (min-width:991px){
  .navbar{
    height: 105px;
}
  .navbar__social, .navbar__top{
    display: block;
   }
   .navbar__mobileMenu, 
   .navbar__mobileMenuBar{
     display: none;
   }

   .navbar__social a{
     font-size: 1.1rem;
     color: var(--dark);
     font-weight: 600;
     padding: 0 15px;
   }

   .navbar__top a{
    font-size: 1.1rem;
    color: var(--dark);
    font-weight: 400;
  }

  .menu__nav{
    margin-right: 2rem;
  }

  .navbar__top .navbar__top--button{
    background-color: var(--primary);
    color: var(--white);
    padding: 20px 25px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;

  }

  .logo .navbar__social, .navbar__top{
     flex: 0 1 33%;
     text-align: right;

  }

  .navbar__social{
    justify-self: center;
  }

 
  .hero{
    background-color:#FBEDE9;
    width: 92%;
    min-height: calc(100vh - (80px + 2rem));
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 0 auto;
    align-items: center;
    
   
  }
  .hero__underground, .hero__image{
    width: 35%;
    height: 100vh;
    background-color: #F3BFBF;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -33%);
    display:flex;
    align-items: flex-end;
    justify-content: center;
  
  }

  .hero__image img{
    height: 60%;
    bottom: 0;
    transform: translateY(33%);
    position: relative;
    z-index: 9;
  }

  .hero__image img::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;

  }

  .hero__title--name{
    font-size: 10rem;
    line-height: 1;
  }

  .hero__image{
    background-color:transparent;
    z-index: 9;
  }

  .hero__title{
    flex: 0 1 60%;
  }

  .spacer{
    flex: 0 1 20%;
  }

  .hero__title, .hero__intro{
    z-index: 8;
    
  }
  .hero__bottom--nav{
  
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 50px;
  }
  .hero__bottom--nav a{
    display: inline-block;
    margin: 0 2rem;
  }
  
  .about .container{
    padding: 6rem 0;
  }

  .services  .container{
    padding: 5rem 0;
   }


  
}


@media screen and (max-width:992px){

 .conainer{
   margin: auto 15px
 }

 .container {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}
  .navbar{
    height: 80px;
    margin-bottom: 2rem;
}
  .navbar__social, .navbar__top{
    display: none;
   }
   .hero{
    background-color:#FBEDE9;
    width: 100%;
    min-height: calc(100vh - (80px + 2rem));
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
   
  }

   .hero__underground, .hero__image{
    width: 85%;
    height: 65vh;
    background-color: #F3BFBF;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-33%);
    display:flex;
    align-items: flex-end;
    justify-content: center;
  
  }

  .hero__image{
    background-color:transparent;
    z-index: 2;
  }
  

  .hero__image img{
    height:55%;
    bottom: 0;
    position: relative;
    z-index: 9;
}

.hero__title, .hero__intro{
  z-index: 1;
  position: relative;
  margin-left: 15%;
  flex: 1 1 50%;

}

.hero__title--name{
  font-size: 4rem;
}

.hero__bottom--nav{
  height: 60px;
}



.display-md-none{
  display: none;
}


.section__title{
  font-size: 2.5rem;
  line-height: 2rem;
}



.dash{
  height: 5px;
  width: 3rem;
  transform: translateY(-6px);

}

.about .container{
  padding-top: 4rem;
  padding-bottom: 4rem;
}


.bg-coffee {
  background-size: 100px;
  top: 14%;
  left: -1%;
  width: 120px;
  height: 20%;
}

.main-title{
  width: 80%;
  margin-left: auto;
}

.subtitle{
  font-size: 1.3rem;
  line-height: 2.2rem;
 font-weight: 600;
}

.about p{
  font-size: 1.1rem;
  position: relative;
  z-index: 99;
}
.bg-pencils {
  background-size: 33vw;
  top: 33%;
  right: 0;
  width:33vw;
  height: 32vw;
}
.bg-notepad{
  background-size: 55vw;
  top: 40%;
  right: 0;
  width: 55vw;
  height: 78vw;
}
.bg-compas {
  background-size: 10vw;
  top: 52%;
  right: 20%;
  width: 10vw;
  height: 39vw;
}

.services  .container{
  padding-top: 5rem;
 }
.grid__row{
  display: block;
}

  .service__description{
    max-width:100%;
  
}

.service__item{
  flex: 0 1 calc(-50% - 20px);
}

}



